{% extends "base.html" %}
{% block title %} Список категорий {% endblock %}

{% block body %}
    <div style="flex: 1 1 auto">
        <h1>Список категорий</h1>
        <ul>
            {% for item in object_list %}
            <li>
                {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
            </li>
            {% endfor %}
        </ul>
        <ul>
            <li><a href="/courses-list/">Список курсов</a></li>
		    <li><a href="/create-course/">Создать курс</a></li>
        </ul>
    </div>
{% endblock %}