{% extends "base.html" %}
{% block title %} Список категорий {% endblock %}

{% block body %}
    <div style="flex: 1 1 auto">
        <h1>Список категорий</h1>
        <table>
            {% for item in objects_list %}
            <tr>
                <td>{{item.name}} <span>Количество курсов: {{item.course_count()}}</span></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <ul>
            <li><a href="/courses-list/">Список курсов</a></li>
		    <li><a href="/create-category/">Создать категорию</a></li>
        </ul>
    </div>
{% endblock %}