{% extends "base.html" %}
{% block title %} Школа программирования {% endblock %}

{% block body %}
    <div style="flex: 1 1 auto">
        <h1>Наши курсы</h1>
        <p>На все курсы можно записаться в течении года</p>
        <p>Расписание на {{date}}</p>
        <table>
            <tr>
                <th>Дисциплина</th>
                <th>Город 1</th>
                <th>Город 2</th>
                <th>Город 3</th>
            </tr>
            <tr>
                <td>Основы</td>
                <td>{{date}} <br> 11:00 - 14:00</td>
                <td>{{date}} <br> 11:00 - 14:00</td>
                <td>{{date}} <br> 11:00 - 14:00</td>
            </tr>
            <tr>
                <td>Aлгоритмы</td>
                <td>{{date}} <br> 11:00 - 14:00</td>
                <td>{{date}} <br> 11:00 - 14:00</td>
                <td>{{date}} <br> 11:00 - 14:00</td>
            </tr>
            <tr>
                <td>Основы Фреймворков</td>
                <td>{{date}} <br> 11:00 - 14:00</td>
                <td>{{date}} <br> 11:00 - 14:00</td>
                <td>{{date}} <br> 11:00 - 14:00</td>
            </tr>
        </table>
        <form action="" method="post">
            <fieldset>
                <legend>Зарегистрируйтесь</legend>
                <p><label class="title" for="name">Ваше имя:</label>
                    <input type="text" name="name" id="name"><br />
                    <label class="title" for="email">Ваш email:</label>
                    <input type="text" name="email" id="email">
                </p>
                <p><label for="location" class="title">Ближайший центр:</label>
                    <select name="location" id="location">
                        <option value="ny">Город 1</option>
                        <option value="il">Город 2</option>
                        <option value="ca">Город 3</option>
                    </select>
                </p>
                <p>
                    <span class="title">Являетесь участником?</span>
                    <label><input type="radio" name="member" value="yes" /> Да</label>
                    <label><input type="radio" name="member" value="no" /> Нет</label>
                </p>
            </fieldset>
            <div class="submit"><input type="submit" value="Регистрация" /></div>
        </form>
    </div>
{% endblock %}